.navbar{
    background-color: #BBC9D2;
    font-weight: 700;
}
.container{
    background-color: #FAFAFA;
    
  
}
.card{
    background-color:white;
}
.card{
    grid-gap:200px
}
.df{
    border:1px solid rgb(128, 128, 128,0.5);
    
    background-color: white;
    width: 40rem;
    margin-top:1.8rem;
    }
.container-d{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}
button a{
    text-decoration: none;
    color:white;
    
}
.image{width: 100%;
}
.buttons{
    text-align: center;
}
.content{
    padding:2rem;
}
